* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.summary_card {
  background-color: #fff;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5px;
  margin: 0 auto;
}

.order_price,
.order_service,
.order_total {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.order_price p,
.order_service p {
  color: #a1a1a1;
}

.order_total p {
  font-weight: 600;
}

.Header {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #2F3841;
}

.Action {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
  margin: auto;
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-box {
  width: 15%;
  text-align: center;
}

.image-box img {
  border: 0.1px solid #e9d4d4;
  border-radius: 5%;
}

.about {
  height: 100%;
}

.title {
  margin: 20px;
  padding-top: 5px;
  line-height: 10px;
  font-size: 22px;
  font-family: "Open Sans";
  font-weight: 800;
  color: #202020;
}

.subtitle {
  margin: 20px;
  line-height: 10px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #909090;
}

/*part4*/
.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}

.count {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 900;
  color: #202020;
}

/*part5*/
.prices {
  height: 100%;
  text-align: right;
}

.amount {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 800;
  color: #202020;
}

.save {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
}

.remove {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
}

.order_summary {
  padding-left: 70px;
  left: 10%;
  margin: auto;
  display: flex;
}

/* #osum {
  font-size: 24px;
  margin-bottom: 10px !important;
  padding-left: 400px !important;
} */

h1 {
  font-family: "Open Sans";
  margin: 20px;
}

.Saved-Items {
  padding: 15px 40px;
  font-family: "Open Sans";
  color: #2F3841;
}

.Saved-Items p {
  padding-top: 20px;
}

.order-details {
  background-color: #fff;
  width: 25%;
  height: 80%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
}



.btm-btn {
  border: none;
  padding: 10px 20px;
  background-color: #0d7eef;
  /* background-color:rgb(4, 4, 4); */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btm-btn:hover {
  background-color: #0a0a0a;
  color: white;
  padding: 15px 23px;
}
.btm-btn:hover .bottom-buttons {
  background-color: #d9d9d9;
}


@media screen and (max-width: 768px) {
  /* Adjustments for screens up to 768px wide */
  .nav {
    padding: 20px 5%;
    font-size: 18px;
  }

  .nav-links li {
    padding: 0px 10px;
  }

  .logo {
    margin-right: 0;
  }

  /* Add more responsive styles as needed */
}

@media screen and (max-width: 480px) {
  /* Adjustments for screens up to 480px wide */
  .nav {
    padding: 15px 5%;
    font-size: 16px;
  }

  .nav-links li {
    padding: 0px 5px;
  }

  /* Add more responsive styles as needed */
}